/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline }
/* Left & Right alignment */
.left {float:left}
.right {float:right}
.wrapper {width:100%;overflow:hidden}
body {background:url(../images/bg.jpg) top center no-repeat #000;border:0;font:14px Arial, Helvetica, sans-serif;color:#000;line-height:20px}
.ic, .ic a {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.css3{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 4px rgba(0, 0, 0, .4);-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);position:relative}
/* Global Structure */
.main {	margin:0 auto;width:920px}
/* main layout */
a {color:#ab0000;text-decoration:underline;outline:none}
a:hover {text-decoration:none}
h1 {padding:50px 0 0 200px}
h2 {font-size:34px;color:#222;line-height:55px;background:url(../images/bg_box1.png) 0 0 no-repeat;padding-left:22px;display:block;overflow:hidden}
h2 span {font-size:30px}
h3 {margin-left:21px;background:url(../images/latest_works.png) no-repeat;width:191px;height:86px;text-indent:-9999px;margin-bottom:13px}
h4 {background:url(../images/tweets.png) right 0 no-repeat;font-size:36px;color:#000;height:61px;line-height:55px;letter-spacing:-2px;padding-left:3px}

p {padding-bottom:20px}
/* header */
header {width:100%;height:377px;overflow:hidden}
#logo {display:block;background:url(../images/logo.jpg) no-repeat;width:600px;height:500px;text-indent:-9999px}

/* content */
#content {}
.pad_left1 {padding-left:12px}
.pad_left2 {padding-left:50px}
.pad {padding:0 12px}
.pad_bot1 {padding-bottom:13px}
.marg_right1 {margin-right:10px}
.pad_top1 {padding-top:25px} 
#slider {margin-top:6px;height:260px;width:100%;overflow:hidden;background:url(../images/bg_slider.png) 0 0 no-repeat;overflow:hidden;padding-bottom:14px}
#for_img {padding-left:91px;padding-top:14px;width:342px;height:225px;overflow:hidden;padding-right:77px}
#nivo_slider{position:relative;width:342px;height:225px;z-index:88}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:60;display:none}
/* The slices in the Slider */
.nivo-slice {display:block;position:absolute;z-index:50;height:100%}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {	position:absolute;top:90px;z-index:99;cursor:pointer;text-indent:-5000px;width:52px;height:45px;display:block}
.nivo-prevNav {left:-77px;background:url(../images/marker_left.png) right 0 no-repeat}
.nivo-prevNav:hover, .nivo-nextNav:hover {background-position:bottom}
.nivo-nextNav {right:-77px;background:url(../images/marker_right.png) left 0 no-repeat}


/* footer */
footer {width:100%;overflow:hidden;padding:0 0 74px 0}
footer a{}
footer a:hover{}
.list1 li {line-height:30px}
.list1 a {color:#fff;text-decoration:none;padding-left:15px;background:url(../images/marker_1.gif) 0 6px no-repeat}
.list1 a:hover {color:#ab0000}
.icons li {line-height:30px}
.icons a {color:#fff;text-decoration:none}
.icons a:hover {color:#ab0000}
.icons img {float:left;margin-right:14px;margin-top:7px}

